<% if @show_answer -%>
  <div id="user_answer">
    <div class="margin-big">
      <h4 class="main-title">
        <%= @answer.was_correct? ? "Correcto" : "Incorrecto" -%>, <span><%= @answer.question.answer %></span> es la respuesta.
      </h4>
    </div>
    <div class="text-center">
      <% unless @finish -%>
        <div class="contact-form">
          <p>
            <button class="btn btn-large" id="next_question">Siguiente</button>
          </p>
        </div>
      <% else -%>
        <div class="hero-unit">
          <h2> Trivia <span>terminanda</span></h2>
          <p><%=flash[:finish]%></p>
          <%= link_to "Seleccionar otra Trivia", home_path, class:"btn btn-large" %>
        </div>
      <% end -%>
    </div>
  </div>
<% elsif @finish -%>
  <div id="user_answer">
    <div class="text-center">
      <div class="hero-unit">
        <h2> Trivia <span>terminanda</span></h2>
        <p><%=flash[:finish]%></p>
        <%= link_to "Seleccionar otra Trivia", home_path, class:"btn btn-large" %>
      </div>
    </div>
  </div>
<% end -%>