<%content_for :section_title do%>
  <div class="section-title">
    <div class="row offset1" >
      <div class="span3  main-title-center">
        <h5 class="progress-title">
          Pregunta <span><%=@count_answereds %></span> de <span><%=@total_questions%></span>
        </h5>
        <div class="progress">
          <div class="bar" style="width: <%=@game_progress%>%"></div>
        </div>
      </div>
      <div class="span5">
        <i class="icon-gamepad"></i><strong>Juegos</strong>
        <p>sobre las <span>trivias</span></p>
      </div>
      <div class="span3 main-title-center">
        <h5 class="progress-title">Puntaje <span><%=@game.score %></span></h5>
        <div class="progress">
          <div class="bar" style="width: <%=@percent_score_answers%>%"></div>
        </div>
      </div>
    </div>
  </div>
<%end%>
<hr/>
<%= render "show_answer" %>
<div id="user_question" class="game_container <%=show_question(@show_answer)%>">
  <%= form_for :game, url: game_eval_answer_path(@trivia.id), :html => {:class => "contact-form"} do |f| %>
    <h3 class="eval-answer">Pregunta <span><%= @question.description %></span></h3>
    <div class="row-fluid offset2">
      <%= hidden_field_tag "question_id", @question.id %>
      <% if @question.image.present? -%>
        <div class="span4">
          <output>

              <%= image_tag @question.image.url(:medium), alt: "Imagen de la pregunta" %>

          </output>
        </div>
      <% end -%>
      <div class="span4">
        <output class=<%= @question.image.present? ? "short" : "large"%> >
          <span>
            <% if type_multiple_choice?(@trivia.type) -%>
              <label class="black">Respuesta</label>
              <% random_order_question(@question).each do |answer| -%>
                <label class="radio">
                  <%= radio_button_tag "select_answer", answer, false, :class => "pull-none" %>
                  <%= answer %>
                </label>
              <% end -%>
            <% else -%>
              <label class="black" >Respuesta</label>
              <%= text_area_tag "select_answer", nil, class:"text-area"%>
            <% end -%>
          </span>
        </output>
      </div>

    </div>
    <div class="row-fluid">
      <div style="text-align:center">
        <button type="submit" id= "validate_answer" class="eval-answer btn btn-large validate" disabled="true">Confirmar</button>
      </div>
    </div>
  <% end -%>
</div>
<div class="filter">
  <p class="lead" >
    La Trivia <span><%= @trivia.title %> </span>
    del tipo <span><%= @trivia.type_name %></span><br/>
    sobre <span><%= @trivia.description %></span>
    realizada por <span><%= @trivia.teacher.name %></span>
  </p>
</div>