<%content_for :section_title do%>
  <div class="section-title">
    <div class="row offset1" >
      <div class="span3  main-title-center">
        <h5 class="progress-title">
          Pregunta <span><%=@total_questions%></span> de <span><%=@total_questions%></span>
        </h5>
        <div class="progress">
          <div class="bar" style="width: 100%"></div>
        </div>
      </div>
      <div class="span5">
        <i class="icon-gamepad"></i><strong>Resultado</strong>
        <p>sobre la <span>trivia</span></p>
      </div>
      <div class="span3 main-title-center">
        <h5 class="progress-title">Puntaje <span><%=@game.score %></span></h5>
        <div class="progress">
          <div class="bar" style="width: <%=@percent_score_answers%>%"></div>
        </div>
      </div>
    </div>
  </div>
<%end%>
<hr/>
<%= render "show_answer" %>

<div class="filter">
  <p class="lead" >
    La Trivia <span><%= @trivia.title %> </span>
    del tipo <span><%= @trivia.type_name %></span><br/>
    sobre <span><%= @trivia.description %></span>
    realizada por <span><%= @trivia.teacher.name %></span>
  </p>
</div>
