<hr/>
<%=  content_for :modals, modal_content(@presenter.trivia_game.content) %>
<div class="offset10 span2 text-center"><%= button_modal_content(@presenter.trivia_game.content) %></div>
<%= link_to "Abrir en PDF", game_results_user_path(@presenter.game, format: :pdf), target: "_blank", class: "btn btn-large pull-right" %>
<h2 class="main-title">
  <span>Resultados</span>
  <%= @presenter.trivia_game.title %>
</h2>
<p class="lead" >
  El instructor <span><%= @presenter.trivia_game.teacher.name %> </span>
  realizo la trivia <span><%= @presenter.trivia_game.type_name %></span><br/>
  sobre <span><%= @presenter.trivia_game.description %></span>
  <h3>Cantidad de Preguntas <span><%= @presenter.game_questions.count %></span></h3>
  <h3>Puntaje <span><%= @presenter.game.score %></span></h3>
</p>

<% unless @presenter.game_answers.empty? -%>
  <div class="flexslider">
    <!-- Services List Carousel -->
    <ul class="thumbnails slides">
      <% @presenter.game_answers.each do |answer| -%>
        <li class="pointer">
          <div class="thumbnail answer" >
            <h5>Pregunta</h5>
            <h5 class="black" ><%= answer.question.description%></h5>
            <h5>Tu respuesta</h5>
            <h5 class="black" ><%= answer.answer %></h5>
            <% if answer.was_correct -%>
              <i class="icon-ok"></i>
            <% else -%>
              <i class="icon-ban-circle"></i>
            <% end -%>
            <% unless answer.was_correct -%>
              <h5>Respuesta Correcta</h5>
              <h5 class="black" ><%= answer.question.answer %></h5>
            <%else%>
              <h5>¡Buen <span class="black" >Trabajo</span>!</h5>
            <% end -%>

          </div>
        </li>
      <% end -%>
    </ul>
  </div>
<% else -%>
  <h3>No existen <span>respuestas</span> contestadas</h3>
<% end -%>

<div class="filter">
  <h2 class="main-title">
    <span>Trivias</span>
    Similares
  </h2>
  <%= render "trivium/index_paginated_responsive",  trivium: @presenter.trivium %>
</div>
