<!-- Services Content -->
<% unless @games_results.empty? -%>
  <hr />
    <div class="flexslider">
      <!-- Services List Carousel -->
      <ul class="thumbnails slides">
        <% @games_results.each do |game| -%>
          <!-- Service Detail -->
          <li>
            <div class="thumbnail">
              <i class="game"><%=game.trivia.title%></i>
              <em class="date"><%= l game.updated_at.to_date, format: :simple %></em>
              <h4>Instructor <span><%=game.trivia.teacher.name%></span></h4>
              <h5><%=game.trivia.course%></h5>
              <p class="game">Cantidad Preguntas <strong><%= game.trivia.questions.count %></strong></p>
              <p class="game">Preguntas Correctas <strong><%= game.correct_answers.count %></strong></p>
              <p class="game">Puntaje <strong><%= game.score %></strong></p>
              <%= link_to 'Ver', game_results_user_path(game), class: "btn" %>
              <%= link_to "PDF", game_results_user_path(game, format: :pdf), target: "_blank", class: "btn" %>
            </div>
          </li>
        <% end -%>
      </ul>
    </div>
  <hr/>
<% else -%>
  <div class="filter">
    <h3>No existen <span>trivias</span> realizadas</h3>
  </div>
<% end -%>

