<div class="col-lg-12">
  <div class="game_container">
    <h1>Comenzando juego <%= @trivia.title %> !!</h1>
    <h2>Profesor <%= @trivia.teacher.name %></h2>
    <h3><%= @trivia.type_name %></h3>
    <h3><%= @trivia.tag %></h3>
    <p><%= @trivia.description %></p>
    <%= form_for :game, url: game_create_path(@trivia.id), :html => {:class => "text-center"} do |f| %>
      <p>
        <%= f.submit "Iniciar Juego", class: "btn btn-primary btn-lg" %>
      </p>
    <% end -%>
  </div>
</div>