<hr/>
<h2 class="main-title">
  <span>Comenzando</span>
  <%= @trivia.title %>
</h2>
<p class="lead" >
  El profesor <span><%= @trivia.teacher.name %> </span>
  realizo la trivia <span><%= @trivia.type_name %></span><br/>
  sobre <span><%= @trivia.description %></span>
</p>
<hr/>
<%=  content_for :modals, modal_content(@trivia.content) %>
<div class="offset10 span2" ><div class="pull-left" ><%= button_modal_content(@trivia.content) %></div></div>
<div class="text-center">
  <%= form_for :game, url: game_create_path(@trivia.id), :html => { class: 'contact-form'} do |f| %>
    <p>
      <button type="submit" class="btn btn-large">Iniciar Juego</button>
    </p>
  <% end -%>
</div>
