<!-- Games Section -->
<div id="blog" class="section section-expand">
  <div class="section-title"><i class="icon-gamepad"></i><strong>Juegos</strong>
    <p>sobre las <span>trivias</span></p>
  </div>

  <!-- Games Content -->
  <div class="container">
    <hr/>
    <h2 class="main-title">
      <span>Comenzando</span>
      <%= @trivia.title %>
    </h2>
    <p class="lead" >
      El profesor <span><%= @trivia.teacher.name %> </span>
      realizo la trivia <span><%= @trivia.type_name %></span><br/>
      sobre <span><%= @trivia.description %></span>
    </p>
    <hr/>
    <div class="text-center">
      <%= form_for :game, url: game_create_path(@trivia.id), :html => { class: 'contact-form'} do |f| %>
        <p>
          <%= render 'trivium/content', content: @trivia.content %>
          <button type="submit" class="btn btn-large">Iniciar Juego</button>
        </p>
      <% end -%>
    </div>
  </div>
</div>