<h1> Siga sumando puntos!!! </h1>
<div class="container">
  <h3>Pregunta:</h3>
  <%= form_for @question, url: "/game/eval_answer" do |f| %>

    <%= hidden_field_tag "question[id]", @question.id%>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <label><p> <%= @question.description %> </p></label>

    <h3>Respuesta:</h3>
    <div class="input-group">
      <%= text_field_tag "answer", "", class: "input-medium" %>
    </div>
    <%= f.submit "Validar Respuesta", class: 'btn btn-default btn-lg btn-success' %>
  <% end %>
</div>
