<%= form_for @trivia, :html => {class: 'contact-form' } do |f| %>
  <div class="row-fluid offset2">
    <div class="span4">
      <%= f.text_field :title, placeholder: "Titulo",  autofocus: :true %>
      <%= f.text_area :tag, placeholder: 'Etiqueta' %>
      <%= f.text_area :description, placeholder: 'Descripción' %>
    </div>
    <div class="span4">
      <%= f.collection_select(:type, @types, :first, :last, {include_blank: "Tipo"},(f.object.type) ? {}:{ :class=> "placeholder"}) %>
      <% if @trivia.level -%>
        <%= select_tag "trivia_level", options_from_collection_for_select(@levels, "id", "title", @trivia.level.id), prompt: "Año"  %>
      <% else -%>
        <%= select_tag "trivia_level", options_from_collection_for_select(@levels, "id", "title"),prompt: "Año" , :class=> "placeholder" %>
      <% end -%>
      <%= f.collection_select(:course_id, @courses, :id, :title, {include_blank: "Cursos" }, (f.object.course) ? {}:{ :class=> "placeholder"}) %>
   </div>
  </div>
  <%= f.fields_for_contents %>
  <div class="row-fluid margin">
    <div style="text-align:center">
      <%= link_to 'Cancelar', trivium_path ,class:"btn btn-large" %>
      <button type="submit" class="btn btn-large">Siguiente</button>
    </div>
  </div>
<% end -%>
