<% if flash[:alert] -%>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-dismissable alert-warning">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <%= flash[:alert] %>
      </div>
    </div>
  </div>
<% end -%>
<% if @question.errors.any? -%>
  <div class="row">
    <div class="col-lg-offset-2">
      <div class="alert alert-dismissable alert-danger">
        <h4>Se encontro <%= pluralize(@question.errors.count, "error") %> no es posible crear la Pregunta</h4>
        <% @question.errors.full_messages.each do |msg| %>
          <ul>
            <%= content_tag :label, msg %>
          </ul>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>
<%= hidden_field_tag 'finish', 'false'%>
<fieldset>
  <div class="form-group">
    <label for="tag" class="col-lg-2 control-label">Pregunta</label>
    <div class="col-lg-10">
      <%= f.text_area :description, :autofocus => true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Dificultad</label>
    <div class="col-lg-10">
      <%= f.select :dificulty, options_for_select(Question::DIFICULTY,:selected => "#{@question.dificulty}"),{}, { :class=> "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-lg-2 control-label">Respuesta correcta</label>
    <div class="col-lg-10">
      <%= f.text_field :answer, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-lg-2 control-label">Imagen</label>
    <div class="col-lg-10">
      <%= image_tag @question.image.url(:small) if @question.id %>
      <%= f.file_field :image %>
    </div>
  </div>
  <% if(type_multiple_choice?(@trivia.type)) -%>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Respuesta Incorrecta 1</label>
      <div class="col-lg-10">
        <%= f.text_field :incorrect_answer_one, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Respuesta Incorrecta 2</label>
      <div class="col-lg-10">
        <%= f.text_field :incorrect_answer_two, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Respuesta Incorrecta 3</label>
      <div class="col-lg-10">
        <%= f.text_field :incorrect_answer_three, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Respuesta Incorrecta 4</label>
      <div class="col-lg-10">
        <%= f.text_field :incorrect_answer_four, class: 'form-control' %>
      </div>
    </div>
  <% end -%>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= link_to 'Cancelar', trivium_path %>
      <%= f.submit "Guardar", class: 'btn btn-primary' %>
      <%= f.submit "Finalizar y Guardar", id: "save_and_finish", class: 'btn btn-primary' %>
    </div>
  </div>
</fieldset>
