<div class="row-fluid offset<%=(type_multiple_choice?(@trivia.type)) ? '2':'4' %>" >
  <%= hidden_field_tag 'finish', 'false'%>
  <div class="span4">
    <%= f.text_area :description, :autofocus => true, placeholder: "Pregunta" %>
    <%= f.select :dificulty, options_for_select(Question::DIFICULTY,:selected => "#{@question.dificulty}"),{prompt: "Dificultad"},class: "placeholder" %>
    <%= f.text_field :answer, placeholder: "Respuesta Correcta" %>
    <%= f.file_field :image %>
    <% if @question.id -%>
      <output>
        <span>
          <%= image_tag @question.image.url(:small) %>
        </span>
      </output>
    <% end -%>
  </div>
  <% if(type_multiple_choice?(@trivia.type)) -%>
    <div class="span4">
      <%= f.text_field :incorrect_answer_one, placeholder: 'Respuesta Incorrecta 1' %>
      <%= f.text_field :incorrect_answer_two, placeholder: 'Respuesta Incorrecta 2' %>
      <%= f.text_field :incorrect_answer_three, placeholder: 'Respuesta Incorrecta 3' %>
      <%= f.text_field :incorrect_answer_four, placeholder: 'Respuesta Incorrecta 4' %>
    </div>
  <% end -%>
</div>
<div class="row-fluid margin">
  <div style="text-align:center">
    <button type="submit" class="btn btn-large">Guardar</button>
    <button type="submit" id="save_and_finish" class="btn btn-large">Finalizar y Guardar</button>
    <p><%= link_to 'Cancelar', trivium_path %></p>
  </div>
</div>
