<div class="page-header">
  <h1 id="tables">Mis Trivias</h1>
</div>
<%= (link_to 'Nueva Trivia', new_trivia_path) if current_teacher %>
<% unless @trivias.empty? -%>
  <table class="table table-striped table-bordered table-hover ">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Curso</th>
        <th>Etiquetas</th>
        <th>descripción</th>
        <th colspan=3  class="text-center" >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @trivias.each do |trivia| -%>
        <tr>
          <td><%= trivia.title %></td>
          <td><%= trivia.course %></td>
          <td><%= trivia.tag %></td>
          <td><%= trivia.description %></td>
          <td><%= link_to 'Editar', edit_trivia_path(trivia.id) if trivia.with_no_games? -%></td>
          <td><%= link_to 'Preguntas', new_question_trivia_url(trivia.id) %></td>
          <td><%= link_to 'Clonar', clone_trivia_url(trivia.id), method: :post %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% else -%>
  <p>No existen trivias</p>
<% end -%>