<% if @trivia.with_no_games? %>
  <hr/>
  <h2>Preguntas y <span>Respuestas</span></h2>
  <p><%= link_to 'Agregar Pregunta',"#", id: "display_question_trivia" %></p>

  <% unless @question.errors.any?-%>
    <%= form_for @question, :url => create_question_trivia_path(@trivia.id), :html => {:class => "contact-form question_trivia hide"} do |f| %>
      <%= render 'form_question', f: f %>
    <% end -%>
  <% else -%>
    <%= form_for @question, :url => create_question_trivia_path(@trivia.id), :html => {:class => "contact-form question_trivia"} do |f| %>
      <%= render 'form_question', f: f %>
    <% end -%>
  <% end -%>
<% end -%>
<%= render 'index_question' %>
