<%= form_for :user, :url => create_users_url, :html => { :class => "bs-example form-horizontal"} do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Nombre</label>
      <div class="col-lg-10">
        <%= f.text_field :first_name, autofocus: true, class: 'form-control',  placeholder: "Nombre" %>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Apellido</label>
      <div class="col-lg-10">
        <%= f.text_field :last_name, class: 'form-control', placeholder: "Apellido" %>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <%= f.email_field :email, class: 'form-control', placeholder: "Mail" %>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Área</label>
      <div class="col-lg-10">
        <%= f.collection_select(:institute_id, all_institutes, :id, :name, { prompt: "Área" }, { class: "form-control" }) %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= link_to 'Cancelar', users_path %>
        <%= f.submit "Guardar", class: 'btn btn-primary' %>
      </div>
    </div>
  </fieldset>
<% end -%>