<div class="page-header">
  <h1 id="tables">Listado de alumnos</h1>
</div>
<% unless @users.empty? -%>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Mail</th>
        <th>Instituto</th>
        <th>Año</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| -%>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.institute %></td>
          <td><%= user.level %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% else -%>
  <p>No existen alumnos.</p>
<% end -%>
