<div class="page-header">
  <h1 id="tables">Nuevo Instructor</h1>
</div>
<%= form_for :teacher, :url => create_teachers_url, :html => { :class => "contact-form"} do |f| %>
  <div class="row-fluid offset4">
    <div class="span4">
      <%= f.text_field :first_name, autofocus: true, class: 'form-control',  placeholder: "Nombre" %>
      <%= f.text_field :last_name, class: 'form-control', placeholder: "Apellido" %>
      <%= f.email_field :email, class: 'form-control', placeholder: "Mail" %>
      <%= f.text_field :description, class: 'form-control', placeholder: "Descripción" %>    
      <%= f.text_field :phone, class: 'form-control', placeholder: "Teléfono" %>
    </div>
  </div>
  <div class="row-fluid margin">
    <div style="text-align:center">
      <%= link_to 'Cancelar', teachers_path, class: "btn btn-small" %>
      <%= f.button "Guardar", class: 'btn btn-small submit-buttons' %>
    </div>
  </div>
<% end %>