<!-- Student Section -->
<div id="student" class="section section-expand">
  <div class="section-title"><i class="icon-smile"></i><strong>Usuario</strong>
    <p>Ingresa a tu <span>cuenta</span></p>
  </div>
  <!-- Student Section -->
  <div class="container">
    <hr />
    <!-- Contact form -->
    <h2>Cambia tu <span>contraseña</span></h2>
    <div class="row">
      <div class="offset2">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { method: :put, class: 'contact-form'  }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
        <fieldset>
          <%= f.password_field :password, autofocus: true, placeholder: "Contraseña", class: 'span3' %>
          <%= f.password_field :password_confirmation, placeholder: "Confirmar contraseña",class: 'span3' %>
          <%= f.button 'Cambiar', class: 'btn btn-large' %>
        </fieldset>
      <% end %>
      </div>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>