<h2>Cambia tu contrase単a</h2>
<div class="col-lg-5">
  <div class="well">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group">
        <%= f.label :password, "Nueva Contrase単a", class: 'col-lg-10 control-label' %>
        <%= f.password_field :password, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirme Nueva Contrase単a", class: 'col-lg-10 control-label' %>
        <%= f.password_field :password_confirmation,class: 'form-control' %>
      </div>
      <div><%= f.submit "Cambiar mi contrase単a", class: 'btn btn-primary' %></div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>


