<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/home" class="navbar-brand">Aprende</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Cursos</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Juego<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Nuevo</a></li>
          <li><a href="#">Historico</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Ranking</li>
          <li><a href="#">Institution</a></li>
          <li><a href="#">Pais</a></li>
        </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <input type="text" class="form-control col-lg-8" placeholder="Search">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <% if current_user %>
          <%= link_to(edit_user_path(current_user), class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do %>
            <%= current_user.email %><b class="caret"></b>
          <% end %>
        <% end %>
        <% if current_teacher %>
          <%= link_to(edit_teacher_path(current_teacher), class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do %>
            <%= current_teacher.email %><b class="caret"></b>
          <% end %>
        <% end %>
        <ul class="dropdown-menu">
          <li><a href="#">Ver cuenta</a></li>
          <li><a href="#">Preferencias</a></li>
          <li class="divider"></li>
          <% if current_user %>
            <li><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
          <%end%>
          <% if current_teacher %>
            <li><%= link_to('Salir', destroy_teacher_session_path, :method => :delete) %></li>
          <%end%>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
