<%= form_for(:user, :url => registration_path(:user), :html => {class: 'bs-example form-horizontal'}) do |f| %>
  <fieldset>
    <legend>Registrate!</legend>
    <%= devise_error_messages! %>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Nombre</label>
      <div class="col-lg-10">
        <%= f.text_field :first_name, :autofocus => true, class: 'form-control', placeholder: 'Nombre' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputApellido" class="col-lg-2 control-label">Apellido</label>
      <div class="col-lg-10">
        <%= f.text_field :last_name, :autofocus => true, class: 'form-control', placeholder: 'Apellido' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Contrase単a</label>
      <div class="col-lg-10">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Contrase単a' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Confirma contrase単a</label>
      <div class="col-lg-10">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmacion de contrase単a' %>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Cursando</label>
      <div id="user_level" class="col-lg-10">
        <%= f.collection_select(:level_id, all_levels, :id, :title, {}, {:class=> "form-control"}) %>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Instituto</label>
      <div id="user_institute" class="col-lg-10">
        <%= f.collection_select(:institute_id, all_institutes, :id, :name, {:include_blank => true}, {:class=> "form-control"}) %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Registrarme</button>
      </div>
    </div>
  </fieldset>
<% end %>